<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="pos-f-t">
		<div class="collapse" id="navbarToggleExternalContent">
			<div class="bg-dark p-4">
				<h5 class="text-white h4">Collapsed content</h5>
				<span class="text-muted">Toggleable via the navbar brand.</span>
			</div>
		</div>
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#"> <img src="" width="30"
				height="40" class="d-inline-block align-top">
			</a>
		</nav>
		<br>
		<form th:action="@{/home}" th:method="post">
			<div class="container">
				<div class="card">
					<h5 class="card-header">AQM Finance Tool</h5>
					<div class="card-body">
						<div class="container">
							<div class="row">
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
					
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>

								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
								</span>
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>

								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="alert alert-secondary">DAX</div>
								</div>
							</div>
						</div>
						<!-- <p class="card-text">Get the informations from yahoo</p>
						<a
							href="https://de.finance.yahoo.com/quote/%5ESTOXX50E?p=^STOXX50E"
							class="btn btn-light mb-3">Go somewhere</a> -->

						<div class="container">
							<div class="card-deck">
								<div class="card">
									<div class="card-block">
										<h6 class="card-title">Newsticker/Echtzeit News über
											Guidants</h6>
										<p class="card-text">...</p>
										<p class="card-text">
											<small class="text-muted">Last updated 3 mins ago</small>
										</p>
									</div>
								</div>
								<div class="card">
									<div class="card-block">
										<h6 class="card-title">Hauptnews Section/Finance über
											yahoo</h6>
										<p class="card-text">...</p>
										<p class="card-text">
											<small class="text-muted">Last updated 3 mins ago</small>
										</p>
									</div>
								</div>
								<div class="card">
									<div class="card-block">
										<h6 class="card-title">Zinsraten</h6>
										<p class="card-text">...</p>
										<p class="card-text">
											<small class="text-muted">Last updated 3 mins ago</small>
										</p>
									</div>
								</div>
								<div class="card">
									<div class="card-block">
										<h6 class="card-title">Inflationsraten</h6>
										<p class="card-text">...</p>
										<p class="card-text">
											<small class="text-muted">Last updated 3 mins ago</small>
										</p>
									</div>
								</div>
							</div>
		</form>



		<div>
			<form action="/" method="post"></form>
		</div>
</body>
</html>